$primary-color: #a5e1a2;
$accent-color: #003c09;
$modal-container-background: rgba(58, 58, 58, 0.9);

nav {
	background-color: $primary-color;
	color: $accent-color;
	a {
		color: $accent-color;
	}
}

main {
	color: $accent-color;
}

.modal-container {
	background-color: $modal-container-background;
}

.close-modal-btn {
	border: 3px solid $accent-color;
	background-color: $primary-color;
	color: $accent-color;
	&:hover {
		background-color: $accent-color;
		color: $primary-color;
		transition: all 0.3s;
	}
}

.btn {
	color: $accent-color;
	background-color: $primary-color;
	border: 1px solid $accent-color;
	&:hover {
		color: $primary-color;
		background-color: $accent-color;
		border-color: $primary-color;
		transition: all 0.3s;
	}
}

footer {
	background-color: $primary-color;
	color: $accent-color;
	a {
		color: $accent-color;
	}
}
